---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import contactData from '../data/contactData'
---

<nav class="relative mx-auto p-6 lg:container">
	<!-- Flex container -->
	<div class="flex items-center justify-between">
		<!-- Logo -->
		<a href="/JolitaPhotographyWeb/" class="flex justify-center">
			<Image src="/JolitaPhotographyWeb/Jolita_logo_W.svg" alt="Logo" width={200} height={80} />
		</a>
		<!-- Menu Items -->
		<ul class="hidden space-x-3 pl-2 md:flex lg:space-x-10">
			<li>
				<a
					href="/JolitaPhotographyWeb/#about"
					aria-label="Read about me"
					class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
					>ABOUT ME</a>
			</li>
			<li>
				<a
					href="/JolitaPhotographyWeb/#formats-photoshoots"
					aria-label="Know more about different photoshoot formats"
					class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
					>GALLERY</a>
			</li>
			<li>
				<a
					href="/JolitaPhotographyWeb/#reviews"
					aria-label="Review"
					class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
					>FEEDBACK</a>
			</li>
			<li>
				<a
					href="/JolitaPhotographyWeb/#contacts"
					aria-label="How to contact with me"
					class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
					>CONTACT ME</a>
			</li>
			<li>
				<a
					href="/JolitaPhotographyWeb/#book-meeting"
					aria-label="Make a booking"
					class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
					>MAKE A BOOKING</a>
			</li>
		</ul>
		<!-- Phone number -->
		<a href=`tel:${contactData.phoneValue}` class="hidden items-start gap-1 p-3 pr-0 md:flex">
			<Icon name="ri:phone-fill" width="18px" class="pt-[3px]" />
			<span>{contactData.phoneText}</span>
		</a>

		<!-- Hamburger Icon -->
		<button
			id="menu-btn"
			class="hamburger block focus:outline-none md:hidden"
			aria-label="Open Navigation Menu"
		>
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
		</button>

		<!-- Mobile Menu -->
		<div id="slideover-container" class="invisible fixed inset-0 z-10 h-full w-full">
			<div
				id="slideover-bg"
				class="absolute inset-0 z-0 h-full w-full bg-gray-900 opacity-0 transition-all duration-500 ease-out"
			>
			</div>
			<ul
				id="slideover"
				class="items-left absolute right-0 top-0 h-full w-56 translate-x-full flex-col space-y-10 self-end bg-navGray px-10 pt-20 transition-all duration-500 ease-out"
			>
				<li>
					<a
						href="/JolitaPhotographyWeb/#about"
						aria-label="Read about me as photograph"
						class="nav-link hover:text-brightPink">About me</a>
				</li>
				<li>
					<a
						href="/JolitaPhotographyWeb/#formats-photoshoots"
						aria-label="Gallery"
						class="nav-link hover:text-brightPink">Gallery</a>
				</li>
				<li>
					<a
						href="/JolitaPhotographyWeb/#reviews"
						aria-label="Reviews and  feedback"
						class="nav-link hover:text-brightPink">Review</a>
				</li>
				<li>
					<a
						href="/JolitaPhotographyWeb/#contacts"
						aria-label="How to contact with photograph"
						class="nav-link hover:text-brightPink">Contacts</a>
				</li>
				<li>
					<a
						href="/JolitaPhotographyWeb/#book-meeting"
						aria-label="Make a booking"
						class="border-b-2 border-darkGray pb-2 transition-all duration-500 ease-out hover:border-veryLightGray"
						>MAKE A BOOKING</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<script>
	import '../js/nav.js'
</script>